*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url(weather.jpg); 
    background-repeat: no-repeat;
    background-size: 1700px 1000px;
    /* background-size: auto; */
    /* position:relative; */
}

.container{
    width: 600px;
    margin: 100px auto;
    padding: 40px;
}

.inputs{
    padding: 0rem 0 2rem 0;
    text-align: center;
    justify-content: center;
    background: transparent;
    height: 150px;
}

.inputs input[type="text"]{
    height: 4rem;
    width: 20rem;
    background: White;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.3rem;
    font-family: sans-serif;
    padding: 10px;
    border: none;
    background-color: white;
    border: white;
    border-radius: 30px;
    margin-right: 4px;

}

.inputs input[type="submit"]{
    height: 3rem;
    width: 6rem;
    background: rgb(44, 44, 182) ;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    transform: 0.5s;
}
.inputs input[type="submit"]:hover{
    background: rgb(85, 85, 194);
    color: white;
    border-color: rgb(218, 218, 218);
    box-shadow: 0 0 5px rgb(245, 245, 245);
}

.display{
    text-align: center;
    width: 520px;
    color: #16a864;
    box-shadow: 200px;
}

.wrapper{
    margin: 0 9rem;
    background-color: transparent
    height 45vh;
    margin: 50px auto;
    /* border-radius: 2px; */
}

.wrapper h2{
    padding: 5px 0;
    text-align: center;
    background: rgb(9, 13, 59);
    color: white;
}

.wrapper p{
    margin: 20px 50px;
    margin-right: 20px;
    text-align: left;
    color: white;
    font-size: 23px;
}

.wrapper h2 span{
    font-size: 26px;
    color: whitesmoke;
    font-family: monospace;
    text-decoration:underline;
}

.wrapper p span{
    color: rgb(215, 215, 215);
    font-size: 25px;
}
